@import '~antd/dist/antd.css';

.quick-info {
  text-align: right;
}

.bottom {
  /* position: absolute; */
  /* bottom: 0px; */
}

.container {
  min-height: 100vh;
  background: rgb(219, 255, 164);
}

.ant-typography {
  background: -webkit-radial-gradient(circle, rgba(33,36,0,1) 0%, rgba(255,149,64,1) 0%, rgba(251,41,4,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Pixel";
  margin-bottom: 0;
}

.link {
  background: -webkit-radial-gradient(circle, rgba(33,36,0,1) 0%, rgba(27,39,255,1) 0%, rgba(4,17,251,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
